* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

.nav {
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}
.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;

}
.card p {
  margin: 20px 0;
}

.card{
  background-color: #222;
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;

}
.button {
  background-color: #fff;
  padding: 10px 20px;
  margin: 5px;
  color: black;
  border-radius: 8px;
}
